<h1><%= @aquarium.name %></h1>
<ul>
  <li><p>Regularly cleaned? <%= @aquarium.clean %></p></li>
  <li><p> Number of potential different species: <%= @aquarium.number_of_types %></p></li>
  <li><p> Actual Quantity of Fish Types: <%= @aquarium.number_of_fish %></p></li>
</ul>
<%= link_to "View Aquarium Fish", "/aquariums/#{@aquarium.id}/fish"%>
<%= link_to "Update Aquarium", "/aquariums/#{@aquarium.id}/edit"%>
