<%= link_to 'New Docks', '/docks/new' %>

<h1> Docks of the world</h1>
<% @docks.recent_order.each_with_index do |dock, index| %>
  <div id="dock-<%= index %>" >
  <h2> <%= dock.name %> </h2>
  <h2> <%= dock.created_at %> </h2>
  <h3> <%= link_to "Edit #{dock.name}", "/docks/#{dock.id}/edit" %>
<% end %>
