<ul>
  <li><a href="/boats">All Boats</a></li>
  <li><a href="/docks">All Docks</a></li>
  <li><a href="/docks/<%= @dock.id %>/boats">Docked Boats</a></li>
</ul>

<h1> <%= @dock.name %> </h1>

<h2> open: <%= @dock.open %> </h2>
<h2> capacity: <%= @dock.capacity %> </h2>
<h3> current boat qty: <%= @dock.count_boats %> </h3>
