<h1>All the fish</h1>
<% @fishies.each do |fish| %>
<h3><%= fish.name %> </h3></li>
<ul>
  <li><p> Bioluminescent?: <%= fish.bioluminescent %> </p></li>
  <li><p> Quantity: <%= fish.quantity %> </p></li>
<%= link_to "Delete #{fish.name}", "/fish/#{fish.id}", method: :delete %>
</ul>
<%= link_to "Edit #{fish.name}", "fish/#{fish.id}/edit" %>
<% end %>
